{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './style.css' %}">
    <!-- <script src="main.js" defer></script> -->
    <!-- <script src="https://use.fontawesome.com/d5d85238ea.js" defer></script> -->
</head>
<body>
    <section class="container">
        <h1 class="title">Список задач</h1>
        <div class="block-note1">
            <div class="input-button">
                <input type="text" id="inpt" class="input-text" placeholder="Введите новую заметку">
                <button class="btn add" id="btn">Добавить</button>
            </div>
        </div>
        <div class="block-note2">
            <!-- Здесь создаются новые заметки -->
        </div>
    </section>
</body>
</html>